{{ define "title" }}用户管理{{ end }}
{{ template "header" . }}
<header class="mdui-appbar mdui-appbar-fixed mdui-hidden" id="users-select-appbar">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white">
            <i class="mdui-icon material-icons">arrow_back</i>
        </span>
        <span class="mdui-typo-headline mdui-hidden-xs">cx-im</span>
        <span class="mdui-typo-title"><span id="users-select-count">0</span> / <span id="users-count">0</span></span>
        <span class="mdui-toolbar-spacer"></span>
        <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-menu="{target: '#users-more'}">
            <i class="mdui-icon material-icons">more_vert</i>
        </span>
        <ul class="mdui-menu" id="users-more">
            <li>
                <label class="mdui-menu-item" style="overflow: unset">
                    <a class="mdui-ripple">
                        <div class="mdui-checkbox" style="padding-left: 40px">
                            <input type="checkbox" id="users-select-all"/>
                            <i class="mdui-menu-item-icon mdui-checkbox-icon" style="left: 4px"></i>全选
                        </div>
                    </a>
                </label>
            </li>
            <li class="mdui-menu-item">
                <a class="mdui-ripple">
                    <i class="mdui-menu-item-icon mdui-icon material-icons">play_arrow</i>运行
                </a>
            </li>
            <li class="mdui-menu-item">
                <a class="mdui-ripple mdui-ripple-white">
                    <i class="mdui-menu-item-icon mdui-icon material-icons">pause</i>停止
                </a>
            </li>
            <li class="mdui-menu-item">
                <a class="mdui-ripple mdui-ripple-white">
                    <i class="mdui-menu-item-icon mdui-icon material-icons">delete_forever</i>删除
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="mdui-list"></div>
<button class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple mdui-center" id="user-add">
    <i class="mdui-icon material-icons">add</i>
</button>
<script>
(() => {
    function get$item($e) {
        let $p = $e;
        while (!($p = $p.parent()).hasClass('mdui-list-item')) {
            if (!$p.length) {
                throw $p;
            }
        }
        return $p;
    }
    function getUsername($item) {
        return $item.find('.mdui-list-item-title').text();
    }
    function getState(running) {
        return running ? 'start' : 'stop';
    }
    function getStateString(running) {
        return running ? '运行中' : '未运行';
    }
    function get$count() {
        const $title = $('#main-title');
        let $count = $title.children('#count');
        if (!$count.length) {
            $count = $('<span id="count">0</span>');
            $title.append(' (', $count, ')');
        }
        return $count.add($usersCount);
    }
    function get$state($item) {
        return $item.find('.mdui-list-item-text');
    }
    function get$selectParent($e) {
        return $e.find('.list-select')
    }
    function viewListSelect(hide) {
        const $p = get$selectParent($list);
        const $input = $p.children('input');
        let $1 = mainAppbar.add($p.siblings('.list-ctrl'));
        let $2 = selectAppbar.add($p);
        $input.attr('type', hide ? 'hidden' : 'checkbox');
        if (hide) {
            [$1, $2] = [$2, $1];
            $input.prop('checked', false);
            $usersSelectCount.text(selectCount = 0);
        } else {
            $('#users-more').removeClass('mdui-menu-closing');
        }
        $1.addClass('mdui-hidden');
        $2.removeClass('mdui-hidden');
    }
    function setState($item, running) {
        get$state($item).text(getStateString(running));
        $item.find('>.list-ctrl>input').prop('checked', running);
    }
    function setListRunning(running) {
        const state = getState(running);
        const $users = get$selectParent($list).children('input:checked');
        if ($users.length === usersCount) {
            CxIm.apiRequest({
                method: 'POST',
                url: '/api/users/' + state
            }).then(() => {
                const $items = $list.children('.mdui-list-item');
                for (const item of $items) {
                    setState($(item), running);
                }
            });
        } else {
            for (let e of $users) {
                const $item = get$item($(e));
                if (running === $item.find('>.list-ctrl>input').prop('checked')) {
                    continue;
                }
                CxIm.apiRequest({
                    method: 'POST',
                    url: '/api/user/' + state,
                    param: {
                        username: getUsername($item)
                    }
                }).then(ok => {
                    if (ok) {
                        setState($item, running);
                    }
                });
            }
        }
    }
    function addUser(username, running) {
        $list.append(`
<label class="mdui-list-item mdui-ripple">
<div class="mdui-list-item-content">
    <div class="mdui-list-item-title">${username}</div>
    <div class="mdui-list-item-text">${getStateString(running)}</div>
</div>
<div class="mdui-checkbox mdui-hidden list-select">
    <input type="hidden"/>
    <i class="mdui-checkbox-icon"></i>
</div>
<div class="mdui-switch list-ctrl">
    <input type="checkbox"${running ? ' checked' : ''}/>
    <i class="mdui-switch-icon"></i>
</div>
</label>`);
    }
    const mainAppbar = $('#main-appbar');
    const selectAppbar = $('#users-select-appbar').on('click', '.mdui-btn, .mdui-ripple', function () {
        const text = $(this).children('.mdui-icon').text();
        console.log(text)
        switch (text) {
            case 'play_arrow':
                setListRunning(true);
                break;
            case 'pause':
                setListRunning(false);
                break;
            case 'delete_forever':
                const $users = get$selectParent($list).children('input:checked');
                for (let e of $users) {
                    const $item = get$item($(e));
                    CxIm.apiRequest({
                        method: 'DELETE',
                        url: '/api/user',
                        param: {
                            username: getUsername($item)
                        }
                    }).then(() => {
                        get$count().text(--usersCount);
                        $item.remove();
                    });
                }
                break;
            case '':
            case 'more_vert':
                return;
        }
        viewListSelect(true);
    });
    const $usersCount = $('#users-count');
    const $usersSelectCount = $('#users-select-count');
    const $list = $('#main-container .mdui-list').on('change', '.list-ctrl>input', function () {
        const $item = get$item($(this));
        const checked = this.checked;
        CxIm.apiRequest({
            method: 'POST',
            url: '/api/user/' + getState(checked),
            param: {
                username: getUsername($item),
            }
        }).then(ok => {
            if (ok) {
                get$state($item).text(getStateString(checked));
            } else {
                this.checked = !checked;
            }
        });
    }).on('change', '.list-select>input', function () {
        $usersSelectCount.text(selectCount += this.checked ? 1 : -1);
        const checked = selectCount === usersCount;
        $selectAll.prop('checked', checked);
        $selectAll.prop('indeterminate', !checked && selectCount !== 0);
    });
    const $selectAll = $('#users-select-all').on('change', function () {
        const checked = this.checked;
        $usersSelectCount.text(selectCount = checked ? usersCount : 0);
        get$selectParent($list).children('input').prop('checked', checked);
    });
    let usersCount = 0;
    let selectCount = 0;
    onListClick($list, null, $item => {
        get$selectParent($item).prop('checked', true);
        viewListSelect();
    });
    $('#user-add').on('click', () => {
        mdui.dialog({
            title: '添加账号',
            content: `
<div class="mdui-textfield mdui-textfield-invalid-html5">
  <input class="mdui-textfield-input" type="text" placeholder="账号" required/>
</div>
<div class="mdui-textfield mdui-textfield-invalid-html5">
  <input class="mdui-textfield-input" type="password" placeholder="密码" required/>
</div>
`,
            buttons: [
                {
                    text: '取消',
                },
                {
                    text: '新建',
                    close: false,
                    onClick: dialog => {
                        const $e = dialog.$element;
                        if ($e.find('.mdui-textfield-invalid-html5').length) {
                            return;
                        }
                        const username = $e.find('input[type=text]').val();
                        CxIm.apiRequest({
                            method: 'POST',
                            url: '/api/user',
                            param: {
                                'username': username,
                            },
                            data: $e.find('input[type=password]').val(),
                        }).then(ok => {
                            if (ok) {
                                addUser(username);
                            }
                        }).always(() => {
                            dialog.close();
                        });
                    }
                }
            ],
            history: false,
            modal: true,
            cssClass: 'mdui-dialog-alert',
        });
    });
    CxIm.apiRequest('/api/users').then(users => {
        let c = 0;
        for (const user in users) {
            ++c;
            addUser(user, users[user])
        }
        get$count().text(usersCount = c);
    });
})();
</script>
{{ template "footer" . }}
